@import "mocha.css";

* { all: initial; }
* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    color: @text;
}

window#waybar {
    background: alpha(@base, 0);
}

tooltip {
    padding: 5;
    background: @base;
    border-radius: 10;
}

.module {
    padding: 4 8;
    background: alpha(@base, 0.8);
    border-radius: 10;
}

#workspaces button {
    margin: 0 2;
}

#workspaces button.empty label {
    color: @overlay0;
}

#workspaces button.active label {
    color: @red; 
}

#custom-gpu {
    color: @peach
}

#cpu {
    color: @red
}

#memory {
    color: @flamingo
}

#custom-fcitx5 {
    color: @pink
}

#pulseaudio {
    color: @teal
}

#backlight {
    color: @yellow
}

#battery {
    color: @green
}

#bluetooth {
    color: @blue
}

#network {
    color: @mauve;
}

#clock.date {
    color: @maroon;
}

#clock.time {
    color: @sapphire;
}

