* {
    BG:    #1e1e2ea0;
    BGA:   #89DCEBff;
    FG:    #cdd6f4ff;
    FGA:   #f5c2e7ff;
    BDR:   #89b4faff;
    SEL:   #1E1E2Eff;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #b4befeff;
    ON:    #a6e3a1ff;
    RED:   #F38BA8ff;
    YELLOW:   #f9e2afff;
    TRANS:    #1e1e2e00;
}
